.git
.gitignore
.github
.vscode
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
.coverage
coverage.xml
__pycache__
*.pyc
.venv
venv
docs
tests/*.py
tests/__pycache__
*.md
!README.md
.env
.DS_Store
Thumbs.db
models/*.h5